table {
    margin:30px auto;
    background: #fff;
    overflow: hidden;
    width: 400px;
    height: 500px;
    border: 2px solid #ddd;
}
td, th {
    border: 1px solid #dddddd
}

.tile {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}

.tile:hover {
    background-color:#F7C11A;
}

.score {
    text-align:center;
}